body
{
    background-image: url(2.jpg);

  
}
h1,h2,h3,h4
{
text-align: center;
color: rgb(255, 251, 251);
}
p
{
text-align: center;
color: rgb(255, 255, 255);

}
nav
{
background-color: rgb(0, 0, 0);
height: 75px;
word-spacing: 5px;
margin: auto;


}


#bela
{
border: solid darkblue;
text-align: center;
width: 50%;
margin: auto;
height: 110%;
background-color: rgb(122, 120, 120);

}

a
{
color: white;

}
table,td,tr
{
    
    text-align: center;
   
    height: 60px;
    
    border:3px solid darkblue;
}

td
{
width: 50%;
}

#kep
{
width: 60%;
}
#container {
    margin: auto;
    width: 50%;
    aspect-ratio: 2/1;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    
  }
  .green {
    
    margin-bottom: 10px;
    width: 60%;}
    .a
    {
        width: 140%;
    }

nav {
    background-color: #f8f8f8; 
    padding: 10px 0;
}

.nav-links {
    list-style: none; 
    display: flex;    
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 20px; 
}

.nav-links a {
    text-decoration: none; 
    color: #333;
    font-weight: bold;
}

.nav-links a:hover {
    color: #ff6600; 
}

