body
{
    background-image: url(2.jpg);

  
}
h1,h2,h3,h4
{
text-align: center;
color: rgb(255, 251, 251);
}
p
{
text-align: center;
color: rgb(255, 255, 255);

}
nav {
    background-color: rgb(0, 0, 0);
    height: auto; 
    padding: 15px 0;
    margin-bottom: 20px;
}


.nav-container {
    display: flex;             
    justify-content: center;    
    align-items: center;        
    gap: 30px;                
}

nav a {
    color: white;
    text-decoration: none;      
    font-weight: bold;
    padding: 10px 20px;
    border: 3px solid darkblue; 
    transition: 0.3s;           
}


nav a:hover {
    background-color: darkblue;
    color: lightblue;
}


}


#bela
{
border: solid darkblue;
text-align: center;
width: 50%;
margin: auto;
height: 110%;
background-color: rgb(122, 120, 120);

}

a
{
color: white;

}
table,td,tr
{
    
    text-align: center;
   
    height: 60px;
    
    border:3px solid darkblue;
}

td
{
width: 50%;
}

#kep
{
width: 60%;
}



